{% extends 's_base.html' %}  
{% block content %} 

<div class="container mt-5">
    {% for item in shop %}
    <div class="row text-center d-flex justify-content-center mt-5" >
        <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
<div class="row">
        <div class="col-sm-3">
<img src="..//static/images/{{item.image}}" class="img-thumbnail" style="height: 250px;">
        </div>
        <div class="col-sm-9">
<ul class="list-unstyled text-start ">
    <li ><h4 class="alert alert-warning">{{item.itemsid.name}}</h4></li>
    <li><strong>SAR {{item.price}}</strong></li>

</ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 's_details' id=item.id %}"  class="btn btn-secondary">Product Details</a>
        </div>
    </div>
    </div>
</div>
</div>
</div>
{% endfor %}

</div>
{% endblock %}